.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 40px;
    text-align: center;
}

.header__container > img {
    height: 200px;
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    .header__container {
        padding: 20px;
    }
    .header__container > img {
        height: 150px;
    }
}